<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleVersion</key>
		<string>1.5</string>
		<key>CFBundleShortVersionString</key>
		<string>1.5</string>
		<key>CFBundleIcons</key>
		<dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>App-120.png</string>
					<string>App-180.png</string>
				</array>
			</dict>
		</dict>
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UILaunchStoryboardName</key>
		<string>Launch</string>
		<key>UIStatusBarStyle</key>
		<string>UIStatusBarStyleLightContent</string>
		<key>UIStatusBarTintParameters</key>
		<dict>
			<key>UINavigationBar</key>
			<dict>
				<key>Style</key>
				<string>UIBarStyleBlack</string>
				<key>TintColor</key>
				<dict>
					<key>Blue</key>
					<integer>128</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Red</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
		</array>
	</dict>
</plist>
